{% extends "base.html"%}

{% block body %}
    <p>
        This site exists for three main reasons. The biggest is that there are many teaching focused
        institutions without the space or resources for experimentalists to engage in meaningful
        computer-based research. By opening the source for this website, using python and javascript,
        and offering researchers the opportunity to collaborate with me using this platform, I hope
        to make it easier for social-science researchers at all institutions to engage in meaningful
        computer-based experimental, correlational, and descriptive research, regadless of the
        amenities provided at their individual institutions.
    <p>
    <p>
        Second, given the relatively
        <a href="http://www.nytimes.com/2013/04/28/magazine/diederik-stapels-audacious-academic-fraud.html">recent</a>
        and
        <a href="http://www.nature.com/news/over-half-of-psychology-studies-fail-reproducibility-test-1.18248">ongoing</a>
        issues related to reproducibility and replication, I wanted to design a platform where the materials
        and results are open to everyone. Researchers concerned about the validity of data that comes from online
        sources, could easily conduct their own replication efforts in the lab using much of the same code provided
        at the <a href="https://github.com/knappsych/openpsychology">Github repository</a> for this
        project&mdash;if you happen to be a expert in javascript or python and are interested in this project,
        please feel free to fork the project and submit a pull request with any helpful changes.
    </p>
    <p>
        Finally, although there are a <a href="http://opl.apa.org/">number</a> of
        <a href="https://implicit.harvard.edu/implicit/takeatest.html">websites</a> that offer students the opportunity
        to participate in many classical psychological experiments. The underlying methods haven't been made entirely
        clear, making it difficult to accurately describe the methods, should anyone investigate new hypotheses with
        their ever growing data sets. By providing access both to the specific materials and results, investigators
        are free to explore the data in search of evidence (dis)confirming novel hypotheses.
    </p>
    <p>
        Over time, the number of experiments offered on this website should grow to include a number of classical
        demonstrations. Contrasted with the
        <a href="http://www.nature.com/news/psychologists-strike-a-blow-for-reproducibility-1.14232">"Many Labs
        Replication Project"</a> and given the online nature of this project, this site can be viewed as a "No Labs
        Replication Project."
    </p>

 {% endblock %}