{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    {% block css %}
        <link rel="stylesheet", type="text/css" href="{% static 'openpsy.css' %}" />
    {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{%  static 'openpsy.js' %}" type="text/javascript"></script>
    {% block javascript %}
    {% endblock %}

    <title>
        {% block title %}{{ page_title }}{% endblock %}
    </title>

</head>

<body>
    {% block header %}
        <div id="header" name="header" class="header">
            <a href="{% url "index"%}"><img src="{% static 'openpsy.png' %}" class="floatleft"></a>
            <div class="brand float-left">Open Psychology</div>
            {% include "navigation.html" %}
        </div>
    {% endblock %}

    {% block body %}
            <p>
                Open Psychology is devoted to improving reproducibility in the social,
                and other, sciences. Accordingly, this site was designed with the following
                specific goals.
            <p>
            <ul>
                <li>Create an reasonably open source platform for conducting experimental,
                    descriptive and correlational research online.</li>

                <li>Provide open access to a variety of classic psychological experiments,
                    measures, and the resultant data-sets for students, instructors, and/or
                    researchers to use as they see fit.</li>

                <li>Develop collaborative relationships with primary investigators
                    who wish to develop new online instruments.</li>
            </ul>
            <p>
                If you're a student, who is interested in participating in an experiment for
                course-credit, or a random visitor, who is interested in participating just
                for fun, please check the list of <a href="{% url 'experiments:experiments' %}">
                current experiments</a>. We only have one now, but, hopefully, we'll have more
                soon.
            </p>
            <p>
                If you're a researcher who would like to collaborate or wants more information
                about this platform, please contact <a href="contact">Open Psychology</a>.
            </p>
    {% endblock %}

    {% block footer %}
        <div class="footer"
            <p>&copy; 2015 <a href="http://wknapp.com/mailform">William H. Knapp III</a></p>
        <div>
    {% endblock %}
</body>

</html>
